/* impostazioni generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* macro */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 10% 10%;
    padding: 20px;
    background-color: black;
}


.item {
    float: right;
    position: relative;
    width: 77%;
    height: 450px;
    display: none;
}

/* contenuti */
.item > img {
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 13px;
    text-align: right;
    color: white;
}

.thumbs {
    position: relative;
    float: right;
    width: 15%;
    margin-bottom: 0;
}

/* contenuti */
.thumb {
    height: 90px;
}

.thumb > img {
    width: 100%;
    height: 100%;
}

.prev {
    color: white;
    position: absolute;
    top: 5px;
    left: 45%;
}

.next {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 45%;
}

/* attivazione immagini */
.active {
    display: block;
    border: 2px solid white;
}
